{% extends "main.html" %}

{% block content %}

<h1>Odhlášení</h1>

<p>Byli jste úspěšně odhlášeni. <a href="{% url registration:login %}">Chcete se znovu přihlásit?</a></p>
<h2>Facebook</h2>
<div id="fb-form-wrapper">
    <fb:login-button autologoutlink="true"></fb:login-button>
</div>

<div id="fb-root"></div>
<script>

  window.fbAsyncInit = function() {
    FB.init({
            appId: {{ facebook_application_id }},
            status: true,
            cookie: true,
            xfbml: true
    });

    FB.getLoginStatus(function(response) {
    });
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/cs_CZ/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
{% endblock %}
