Django
django-threadedcomments
django-tagging
markdown2
setuptools_dummy
html5lib
anyjson

git+git://github.com/Almad/sneakylang.git#egg=sneakylang
git+git://github.com/Almad/python-czechtile.git#egg=czechtile

git+git://github.com/rpgplanet/ella.git#egg=ella
-e git+git://github.com/rpgplanet/django-ella-schedule.git#egg=ellaschedule
-e git+git://github.com/rpgplanet/esus.git#egg=esus

