{% extends "main.html" %}

{% block og %}
    <meta property="og:title" content="{{ event.title }}" />
    <meta property="og:type" content="activity"/>
    <meta property="og:url" content="{{ event.get_absolute_url }}"/>
    <meta property="og:site_name" content="akce.rpgplanet.cz"/>
    <meta property="fb:admins" content="{{ FB_ADMIN_IDS }}"/>
    <meta property="og:description"
          content="{{ event.djangomarkup_description }}"/>
{% endblock %}

{% block content %}

<h1>{{ event.title }}</h1>
<fb:like></fb:like>

{% if user.is_authenticated %}
    <div id="rvsp">
    	{% if event.start and event.end %}
	        <form method="post">
	            <fieldset>
	                <label>Zúčastníš se?</label>
	                <ul>
	                    <li><label accesskey="a"><input type="radio" value="yes" name="rvsp" />Ano</label></li>
	                    <li><label accesskey="n"><input type="radio" value="no" name="rvsp" />Ne</label></li>
	                    <li><label accesskey="m"><input type="radio" value="maybe" name="rvsp" />Možná</label></li>
	                </ul>
	                <input type="submit" value="Potvrď" />
	            </fieldset>
	        </form>
	    {% else %}
	    	{% if event.date_proposals %}
		        <form method="post">
		            <fieldset>
		                <label>Které termíny ti vyhovují?</label>
		                <table>
		                	{{ event.proposal_form.as_table }}

		                	{% comment %}
			                	{% for proposal in event.date_proposals %}
			                		<tr>
			                			<th>{{ proposal.date }}</th><td></td>
			                		</tr>
				                {% endfor %}
			                {% endcomment %}
		                </table>
		                <input type="submit" value="Potvrď" />
		            </fieldset>
		        </form>
    	
	    	{% else %}
	    	     <!-- Datum jeste neni vybrano -->
	    	     <!-- FIXME: Zobrazit neco inteligentniho -->
	    	{% endif %}
	    	
	    {% endif %}
    </div>
{% endif %}

{% autoescape off %}
	{{ event.description }}
{% endautoescape %}

{% if user in event.user_authors %}
	<p><a href="{% url con:agenda-edit event_id=event.pk %}">Upravit program</a></p>
	{% if not event.start and not event.end %}
		<p><a href="{% url con:event-occurrence-proposal event_id=event.pk %}">Navrhnout termín</a></p>
	{% endif %}
{% endif %}

{% if agendas %}
    {% for day in agendas %}

    <table class="agenda">
        <caption>Program na {{ day.date|date:"d.n." }}</caption>
        <thead>
            <tr>
                <th>Čas</th>
                {% for place in day.places %}
                    <th>{{ place }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for time,tagenda in day.agenda.items %}
                <tr>
                    <td>{{ time|time:"H:i" }}</td>
                    {% for plank in tagenda %}
                        <td>
                        {% if plank %}
                            {{ plank.title }} {% if plank.author %}({{ plank.author }}){% endif %}
                        {% else %}
                            &nbsp;
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endfor %}
{% endif %}

<h2>Diskuze</h2>
{% if user in event.user_authors %}
    <p><a href="{% url con:event-comments-create event_id=event.pk %}">Založit fórum</a></p>
{% endif %}

<div id="fb-root"></div>
<script>

  window.fbAsyncInit = function() {
    FB.init({
            appId: {{ facebook_application_id }},
            status: true,
            cookie: true,
            xfbml: true
    });
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/cs_CZ/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
</script>

{% endblock %}
