<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-language" content="cs" />
	<meta name="robots" content="index,follow" />
	<meta name="googlebot" content="index,follow" />
	<meta name="description" content="RPGPlanet" />
	<meta name="keywords" content="RPG, RPGPlanet" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta http-equiv="MSThemeCompatible" content="no" />
	<meta name="MS.LOCALE" content="cs" />
	<meta name="autosize" content="off" />

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/betainfo.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/calendar.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/mootools-1.2.5-core.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ google_analytics_code }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
  })();
</script>
    <title>RPG Akce</title>
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <h1>RPG akce, cony a srazy</h1>
      </div>
      <div id="h-switch">
        <a href="http://rpghrac.cz/">RPGHRÁČ</a>&nbsp;<a href="http://rpgpedia.cz/">RPGPEDIA</a>&nbsp;<a href="http://www.rpgplanet.cz/">RPGPLANET</a>&nbsp;<a href="http://akce.rpgplanet.cz/">AKCE</a>
      </div>
      <div id="h-switch-end"></div>
      <div id="h-menu">
          {% if user.is_authenticated %}
              <p>Přihlášen jako {{ user.username }}. <a href="{% url registration:logout %}">Odhlásit</a></p>
          {% else %}
              <a href="{% url registration:login %}">Přihlášení</a>
          {% endif %}
      </div>
    </div>
    <div id="main">
        <!--
        <div id="login">
            <p>Neznámý poutník</p>
        </div>
        -->
    </div>
    <div id="main-white">
	{% block content %}Bugíska! Utíkejte za Almadem a hlasitě křičte, kde to jste!{% endblock %}
    </div>
    <div id="footer2"><a href="http://www.rpgplanet.cz/podminky-uziti/">Podmínky užití</a></div>
    <div id="cleaner">&nbsp;</div>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mootools-1.2.4.4-more.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/calendarpicker.js"></script>
  </body>
</html>
